pkgbase = nowledge-mem-bin
	pkgdesc = 你的智能体、AI 助手、代码工具，共享一套记忆
	pkgver = 0.9.0
	pkgrel = 1
	url = https://mem.nowledge.co
	arch = x86_64
	license = Proprietary
	depends = gtk3
	depends = libnotify
	depends = nss
	depends = libxss
	depends = libxtst
	depends = xdg-utils
	depends = at-spi2-core
	depends = libsecret
	optdepends = gnome-keyring: for credential storage
	provides = nowledge-mem
	conflicts = nowledge-mem
	source_x86_64 = nowledge-mem.deb::https://download-mem.nowledge.co/app/0.9.0/x86_64-unknown-linux-gnu.deb
	sha256sums_x86_64 = SKIP

pkgname = nowledge-mem-bin
